@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
}

.pesquisa-banner {
    background:
    linear-gradient(to right, 
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.5)),
    url('../assets/fanzhendong.jpg') no-repeat;
    background-size: cover;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 21px;
    padding: 30px;
    width: 50%;
    color: #dddddd;
    font-family: 'Outfit', sans-serif;
}

.caixa-pesquisa h2 {
    max-width: 100%;
    margin-bottom: 5%;
}

.caixa-pesquisa p {
    max-width: 68%;
    margin-bottom: 20%;
}
.caixa-pesquisa button {
    margin-bottom: 13%;
    width: 300px;
    height: 60px;
    font-size: 18px;
    background-color: #890a0a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.caixa-pesquisa button:hover {
    background-color: #980b0b;
}
.caixa-pesquisa button:active {
  transform: scale(0.98);
  background-color: #8b1010;

}


.caixa-pesquisa a {
    text-decoration: none;
    color: #538996;
    transition: 0.3s ease;
}

.caixa-pesquisa a:hover {
    color: #9da1a2;
}
.tela-graficos {
    min-height: 100vh;
    padding: 40px 0;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 6px #1d1d1d;
}

.tela-graficos h1 {
    width: 100%;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #538996;   
}

.tela-graficos h2 {
    width: 100%;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.info-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #1d1d1d;
    margin-top: 50px;
    border-radius: 10px;
}

.conteudo-info {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 50px;
    min-height: 45vh;

}
canvas {
    width: 500px;
    height: 500px;
}
.grafico {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.grafico canvas {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 350px;
}

.info-kpi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 19px;
    color: #ffffff;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.a {
    margin-bottom: 50px;
}
.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #2c2c2c;
    width: 100%;
    padding: 25px 0;
    border: solid 2px #538996;
    border-radius: 10px;
}




