@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    overflow: hidden;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 92.5vh;
    background: 
    linear-gradient(to right, 
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.5)
),
    url('../assets/login.jpeg') no-repeat 40% center;
    background-size: cover;
}

.fundo-escuro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    justify-self: center;
    background: 
    linear-gradient(to right, 
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0)
);
}

.texto {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 340;
    font-style: normal;
    color: #fff;
    margin-top: 80px;
}

.tela-login-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    padding: 20px 0 50px 0;
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 8px;
}

.formulario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

.tela-login-cadastro .formulario p {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}
.tela-login-cadastro .formulario input{
    margin: 2px;
    width: 100%;
    height: 40px;
    font-size: 17px;
    border: solid 1px #636262;
    border-radius: 4px;
    padding: 0px 8px;
    box-sizing: border-box;
    outline: none;
    transition: ease-in 0.2s;
}

.tela-login-cadastro .formulario input:focus {
    border: solid 2px #baffc3;
}

.tela-login-cadastro .formulario button{
    align-self: center;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 550;
    font-size: 17px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
    background-color: #5dac13;
    border: 0;
    transition: ease-in 0.2s;
}

.tela-login-cadastro .formulario button:hover{
    background-color: #6fce17;
}

.tela-login-cadastro .formulario button:focus{
    background-color: #69c314;

}

.tela-login-cadastro .formulario button:active {
    color: #a5a5a5;
    background-color: #549c11;
    transition: ease-out 0s;

}
.semconta, .semconta a{
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    color: #dedede;
}

.semconta a {
    color: #3b63f6;
    transition: all 0.3s ease;
}

.semconta a:hover {
    color: #6c8cff;
}



  

 .card {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    margin-top: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-bottom: 15px;
}
   .card.mostrar {
    max-height: 200px;
    opacity: 1;
    width: 40vh;
    padding: 18px 0;
} 


  .sucesso {
    background-color: #d4edda;
    color: #248e25;
    border: 1px solid #248e25;
  }

.erro {
    background-color: #f8d7da;
    color: #ff0000;
    border: 2px solid #ff7e7e;
}