@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #791212;
    padding: 5px 0;
    box-shadow: inset 0px -5px 1px #701111;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo img {
    height: 7.5vh;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Outfit', sans-serif;
    border-radius: 3px;
    margin: 0 10px;
    transition: color 0.3s ease;
}


nav .navbar li a:hover  {
    color: #b4b4b4;
    
}


nav .login-cadastro ul li a {
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    font-weight: 350;
    transition: all 0.15s ease;
}

nav .login-cadastro ul li .entrar:hover {
    background-color: #ac1b1b;
}

nav .login-cadastro ul li .cadastrar {
    border: solid 0.28ch #ac1b1b;
}

nav .login-cadastro ul li .cadastrar:hover {
    background-color: #ac1b1b;
}

nav .login-cadastro ul li.user{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: 200;
    min-width: 120px;
    color: white;
    font-family: 'Outfit', sans-serif;
    border-radius: 3px;
    margin: 0 10px;
}
nav .login-cadastro ul li p {
    font-weight: 500;
    font-size: 21px;
}

nav .login-cadastro ul a.sair{
    font-size: 21px;
    padding: 3px 6px;
    margin: 0;
}

nav .login-cadastro ul a.sair:hover {
    background-color: #ac1b1b;
    
}

.icone-sair {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url('../assets/iconesair.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    position: relative;
    top: 3px;
  }



      .novo-footer {
        background: #35363a;
        color: #fff;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 32px 8vw 16px 8vw;
        flex-wrap: wrap;
        gap: 32px;
    }
    .footer-logo {
        flex: 1 1 120px;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .footer-links {
        display: flex;
        gap: 48px;
        justify-content: center;
        padding: 20px 0;
        margin-left: 250px;
    }
    .footer-links .itens {
        display: flex;
        flex-direction: column;
    }
    .footer-links h4 {
        margin-bottom: 8px;
        font-size: 23px;
        color: #fff;
    }
    .footer-links a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 4px;
        display: inline-block;
        margin-top: 10px;
    }
    .footer-links a:hover {
        color: #ff4b7d;
    }
    .footer-social {
        flex: 1 1 80px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        gap: 16px;
        margin-left: 300px;
    }
    .footer-social h4 {
        margin-bottom: 8px;
        font-size: 23px;
        color: #fff;
    }
    .footer-social p {
        margin-bottom: 8px;
        font-size: 18px;
        color: #fff;
    }

    .footer-copy {
        background: #232325;
        color: #ccc;
        text-align: center;
        font-size: 15px;
        padding: 10px 0;
    }